# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Personal / Local SSL Certs
key.pem
cert.pem

# PyInstaller Build Artifacts
build/
dist/
*.spec
